@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111112;
    --foreground: #f1f1f1;
    --primary: #6e41c9;
    --secondary: #8b5ce9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ;
}

